
.galleryPagetitle {
    text-align: center;
    background: linear-gradient(26deg, #0a4a75, #3e799f);
    padding: 2em 0;

    h2 {
        position: relative;
        margin-bottom: 1.5em;
        color: #fff;
        font-size: 28px;
        font-weight: 900;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;

        li {
            background: linear-gradient(26deg, var(--t-color), var(--s-color));
            padding: 12px 20px;
            border-radius: 6px;
            color: #fff;

            &:hover {
                background: linear-gradient(26deg, #feb01c, #ffdc00);
                cursor: pointer;
            }
        }
    }
}

.container {
    position: relative;
    .main {
        text-align: center;

        img {
            width: 33em;
        }
    }


    .gallery {
        display: none;
        margin-top: 2em;

        &.active {
            display: block
        }

        .galleryTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                position: relative;
                margin-bottom: 30px;

                &::after {
                content: "";
                position: absolute;
                bottom: -22px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                height: 4px;
                background: linear-gradient(26deg, var(--t-color), var(--s-color));
                border-radius: 4px;
                }
            }

            h3 {

            }
        }


        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3em;

            .fa-arrow-right, .fa-arrow-left {
                font-size: 30px;
                background: linear-gradient(26deg, #0a4a75, #3e799f);
                color: #fff;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                position: relative;
                cursor: pointer;

                &::before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            .fa-arrow-right {

            }

            .fa-arrow-left {

            }


            .post {
                margin: 0 6em;
                img {
                    display: none;
                    width: 25em;
                    border-radius: 5px;
                    border: 1.5px solid black;

                    &.active {
                        display: block
                    }
                }
            }
        } 
    }
    
    .rightsGallery {

        .proofs {
            margin: 8em 0 4em 0 ;
            h2 {
                padding-right: 2em;
                margin-bottom: 2em
            }

            .pImages {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 3em;

                img {
                    width: 55%;
                    border: 1.5px solid black;
                    border-radius: 5px
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: -5em;
        width: 100%;
    }
    
}

