


.gallery {

    .container {
        background: white;
        height: 100vh;
        display: grid;
        grid-template-columns: 17em auto;
        
    
        .bar {
            background: linear-gradient(26deg, #0a4a75, #3e799f);
            padding: 2em;
            color: #Fff;
    
            img {
                width: 9em;
                margin: -2.5em 0 -1em 0;
            }
    
            h2 {
                margin-bottom: 20px;
            }
    
            .ourWork {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 2em;
    
                a {
                    color: #fff;
                    padding: 8px 16px;
                    border-radius: 5px;
                    background: linear-gradient(26deg, var(--t-color), var(--s-color));
    
                    &:hover {
                        background: linear-gradient(26deg, #fbda02, #feaa0f)
                    }
                }
            }
        }
    
        .content {
            padding: 3em 2em;
            position: relative;

            .title {
                width: fit-content;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                &::after {
                    content: "";
                    background: linear-gradient(26deg, var(--t-color), var(--s-color));
                    width: 42%;
                    height: 4px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .carousel {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 8em;

                .fa-arrow-right, .fa-arrow-left {
                    position: relative;
                    font-size: 32px;
                    background: linear-gradient(26deg, #0a4a75, #3e799f);
                    color: #fff;
                    width: 1.4em;
                    height: 1.4em;
                    border-radius: 50%;

                    &::before {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                    }
                }

                .fa-arrow-right {

                }
                .fa-arrow-left {

                }


                .post {
                    margin: 0 4em;

                    img {
                        display: none;
                        width: 23em;
                        border: 1.5px solid black;
                        border-radius: 7px;

                        &.active {
                            display: block;
                        }
                    }
                }
            }


            .more {
                margin-top: 5em;
                h2 {

                }

                .imgs {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 2em;
                    margin-top: 3em;

                    img {
                        width: 40%;
                        border: 1.5px solid black;
                        border-radius: 7px;
                        transition: var(--transition);
                        
                        &:hover {
                            transform: scale(1.03)
                        }
                    }
                }
            }
        }
    }
}
